# Binaries
dist/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test
*.test
coverage.out
coverage.html

# Go
go.work

# IDE
.idea/
.vscode/
*.swp
*.swo

# CDK
infrastructure/cdk.out/
infrastructure/node_modules/

# E2E tests
test/e2e/node_modules/
test/e2e/dist/

# OS
.DS_Store
Thumbs.db
